fastapi
uvicorn==0.30.6
pymongo==4.8.0
python-dotenv==1.0.1
requests==2.32.3
streamlit>=1.38.0
pydantic==2.8.2
faiss-cpu
beautifulsoup4==4.13.2
langchain
langchain-community
langchain-openai
tiktoken==0.7.0
numpy
openai-whisper
kokoro-onnx
soundfile==0.12.1
sounddevice==0.4.6
python-multipart
python-jose[cryptography]
passlib[bcrypt]
PyMuPDF
python-docx