fastapi
uvicorn==0.30.6
pymongo==4.8.0
python-dotenv==1.0.1
requests==2.32.3
pydantic==2.8.2
beautifulsoup4==4.13.2
langchain-core
langchain-text-splitters
langchain-openai
langchain-community
sentence-transformers
numpy
openai-whisper
kokoro-onnx
onnxruntime
soundfile==0.12.1
python-multipart
python-jose[cryptography]
passlib[bcrypt]
PyMuPDF
python-docx
opencv-python-headless
certifi
langfuse
logfire[fastapi]
importlib-metadata
groq